.search-message
{
  color: red
}

.flag-img{
  border: 1px solid grey
}

.countryLine-div{
  display: flex;
  width: fit-content;
  gap: 10px;
}

.stat-table{
  border-spacing: 10px;
}

th{
  text-align: right;
}

.weatherIcon-img{
  background-color:darkgray;
}
